

div.container {
  display: flex;
  background-color: lightsalmon;

  > div.left-side {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: lightgray;


    > div.locomotive {
      display: flex;
      justify-content: center;
    }

    > div.carriage {
      display: flex;
      justify-content: center;
    }
  }


  > div.right-side {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    background-color: lightgoldenrodyellow;
    height: 100%;


    > ul {
      list-style: none;

      display: block;
      height: 100%;

      > li {

        display: flex;
        border: 1px solid lightskyblue;

        > img {
          display: inline-block;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}
