

div.container {
  display: flex;

  > div.left-side {
    display: flex;
    flex-direction: column;
    width: 20%;
    background-color: lightgray;


    > div.locomotive {
      display: flex;
      justify-content: center;
    }

    > div.carriage {
      display: flex;
      justify-content: center;
    }
  }


  > div.right-side {
    display: flex;
    justify-content: flex-start;
    width: 80%;
    background-color: lightgoldenrodyellow;
    min-height: 300px;


    > ul {
      list-style: none;

      display: block;
      height: 100%;

      > li {

        display: flex;
        flex-wrap: wrap;
        border: 1px solid lightskyblue;
        margin: 5px;

        > img {
          display: inline-block;
          width: 100px;
          height: 100px;
        }
      }
    }
  }
}

div.result-actions {
  padding: 20px;
  display: flex;
  justify-content: center;
}
